<link rel="stylesheet" href="personaje.component.css"><!-- busqueda.component.html -->

<div class="personajes-container">
  <div *ngFor="let personaje of personajesList" class="personaje-card">
    <img [src]="'https://ddragon.leagueoflegends.com/cdn/img/champion/loading/' + personaje.id + '_0.jpg'" [alt]="personaje.name">
    <h3>{{ personaje.name }}</h3>
    <p><strong>Título:</strong> {{ personaje.title }}</p>
    <button (click)="agregarAlEquipo(personaje)" [disabled]="equipoPersonajes.includes(personaje.id)">Añadir al equipo</button>
  </div>
</div>
