.busqueda-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px; /* Espaciado entre el input y el botón */
    margin: 20px 0;
  }
  
  input {
    padding: 8px;
    border: 2px solid #f1c40f;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
  }
  
  button {
    background-color: #f1c40f;
    color: black;
    padding: 8px 12px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: transform 0.2s;
  }
  
  button:hover {
    transform: scale(1.05);
    background-color: #cda80d;
  }
  div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px; /* Añade un espacio de 10px entre el input y el botón */
  }
  
  input[type="text"] {
    padding: 10px;
    border: 2px solid #f1c40f;
    border-radius: 5px;
    background-color: #333;
    color: #f1c40f;
    width: 80%;
    max-width: 400px;
    transition: border-color 0.3s;
  }
  
  input[type="text"]:focus {
    outline: none;
    border-color: #000;
  }
  
  button {
    padding: 10px 20px;
    background-color: #f1c40f;
    color: #000;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 600;
    transition: background-color 0.3s;
  }
  
  button:hover {
    background-color: #e67e22;
  }
  
  /* Estilos para el mensaje de error */
  .error {
    color: #e74c3c; /* Rojo para los mensajes de error */
    margin-top: 20px;
    font-size: 14px;
  }
  
  /* Estilos para la imagen del personaje */
  img {
    max-width: 100%;
    height: auto;
    border-radius: 12px;
    margin-top: 20px;
    animation: fadeIn 1s ease-out;
  }
  
  /* Animación de entrada para la imagen */
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(30px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  /* Media Queries para hacerlo responsive */
  @media (max-width: 768px) {
    input[type="text"] {
      width: 90%;
      margin-bottom: 15px;
    }
  
    button {
      width: 90%;
    }
  }
  .titulo {
    text-align: center;
    font-size: 28px;
    font-weight: bold;
    color: #f1c40f; /* Amarillo vibrante */
    text-transform: uppercase;
    margin-bottom: 15px;
    letter-spacing: 2px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
    animation: fadeInUp 1s ease-in-out;
  }
  
  /* Animación de entrada */
  @keyframes fadeInUp {
    from {
      opacity: 0;
      transform: translateY(-20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  